<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>chromeBindings</string>
		<key>Title</key>
		<string>Use Chrome ⌘+⇧+T bindings.</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>24</real>
		<key>Key</key>
		<string>saveTabDuration</string>
		<key>MaximumValue</key>
		<real>7</real>
		<key>MinimumValue</key>
		<real>1</real>
		<key>Title</key>
		<string>Delete Tabs After X Days</string>
		<key>Titles</key>
		<array>
			<string>1 Hour</string>
			<string>2 Hours</string>
			<string>8 Hours</string>
			<string>12 Hours</string>
			<string>1 Day</string>
			<string>2 Days</string>
			<string>7 days</string>
			<string>14 Days</string>
			<string>30 Days</string>
			<string>365 Days</string>
			<string>Never</string>
		</array>
		<key>Type</key>
		<string>ListBox</string>
		<key>Values</key>
		<array>
			<real>1</real>
			<real>2</real>
			<real>8</real>
			<real>12</real>
			<real>24</real>
			<real>48</real>
			<real>168</real>
			<real>336</real>
			<real>720</real>
			<real>8760</real>
			<real>-1</real>
		</array>
	</dict>
</array>
</plist>
